<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangfan.springboot.mybatis.mapper.PermissionMapper">

    <select id="findAll" resultType="com.wangfan.springboot.mybatis.domain.Permission">
       SELECT id,name ,resource FROM permission
    </select>

</mapper>